@import url("resource:///org/gnome/theme/gnome-shell.css");

* {
    font-family: Ubuntu !important;
}

#panel * {
    font-family: Ubuntu !important;
    font-size: 11pt !important;
    font-weight: normal !important;
}
