[Unit]
Description=Rclone mount for notes

[Service]
Type=simple
ExecStart=/usr/bin/rclone --vfs-cache-mode=full mount notes: Notes/

[Install]
WantedBy=default.target
